@import "fonts.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --PM: "Popins-Medium";
  --PR: "Popins-Regular";
  --PSB: "Popins-SemiBold";
  --NB: "Nunito-Bold";
  --NR: "Nunite-Regular";
  --UR: "Ubuntu-Regular";
  --UM: "Ubuntu-Medium";
  --black: #000;
  --gray: #aaaaaa;
  --green: #57be6c;
}

.container {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

/* HEADER START */

.header {
  margin-top: 43px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__list {
  display: flex;
}

.navbar__list li {
  margin-right: 55px;
}

.navbar__list li:nth-of-type(4) {
  margin-right: 0;
}

.navbar__list li a {
  font-size: 20px;
  line-height: 30px;
  font-family: var(--PR);
  letter-spacing: 0.02em;
  color: #222;
}

.arrow::before {
  content: "\f078";
}

.curtain__link-span {
  margin-left: 16px;
}

.curtain__link {
  width: 165px;
  height: 45px;
  background: var(--green);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  line-height: 30px;
  font-family: var(--PSB);
  color: #fff;
}

.header__main {
  display: flex;
  margin-top: 130px;
  position: relative;
}

.header__wrapper {
  display: flex;
  flex-direction: column;
}

.header__wrapper-title {
  margin-top: 30px;
  font-size: 54px;
  width: 550px;
}

.header__wrapper-description {
  margin-top: 30px;
  margin-bottom: 45px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--gray);
  max-width: 380px;
  width: 100%;
}

.header__wrapper-icon {
  background: #f2f2f2;
  border-radius: 15px;
  margin-right: 34px;
  padding: 21px 13px 11px 14px;
}

.instagram::before {
  content: "\f16d";
  font-size: 32px;
  color: var(--gray);
}

.facebook::before {
  content: "\f09a";
  font-size: 32px;
  color: var(--gray);
}

.twitter::before {
  content: "\f099";
  font-size: 32px;
  color: var(--gray);
}

.header__wrapper-btn {
  margin-top: 72px;
  width: 275px;
  height: 70px;
  border-radius: 30px;
  background: var(--green);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  line-height: 36px;
  color: #fff;
  cursor: pointer;
  outline: none;
  border: none;
}

.header__main-img {
  position: absolute;
  max-width: 768px;
  width: 100%;
  right: -2%;
}

/* HEADER END */

/* MAIN START */

/* SEARCH-BOX START */

.main {
  margin-top: 150px;
}

.section__search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section__search-item {
  width: 1000px;
  border: 1.5px solid #222222;
  border-radius: 25px;
  padding: 20px 19px 20px 77px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-box__description {
  font-size: 18px;
  line-height: 27px;
  color: var(--gray);
  font-family: var(--PR);
  margin-bottom: 4px;
}

.search-box__link {
  font-size: 24px;
  line-height: 36px;
  color: #222;
  font-family: var(--PM);
}

.box__link-span {
  margin-left: 27px;
}

.search-btn {
  width: 283px;
  height: 70px;
  background: #57be6c;
  border-radius: 20px;
  outline: none;
  border: none;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.03em;
  color: #fff;
  cursor: pointer;
}

/* SERACH-BOX END */

/* SECTION-FOOD START*/

.section-food {
  margin-top: 150px;
}

.food__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 85px;
}

.link-food {
  font-size: 22px;
  line-height: 33px;
  color: #0645ad;
  font-family: var(--PR);
}

.food-item__link {
  margin-bottom: 5px;
}

.food-item__title {
  font-size: 38px;
  line-height: 57px;
  letter-spacing: 0.035em;
  color: var(--black);
}

.food__mark {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.food__mark-link {
  margin-bottom: 46px;
  display: block;
  position: relative;
}

.food__mark-link:hover .food__mark-favourites::before {
  opacity: 1;
  transition: 1s;
}

.food__mark-img {
  border-radius: 20px;
}

.food__mark-img:hover {
  filter: blur(1.5px);
  transition: 0.4 s;
}

.food__mark-favourites::before {
  content: "\10f02e";
  position: absolute;
  color: #fff;
  font-size: 40px;
  padding: 28px 27px 28px 29px;
  border-radius: 20px;
  background: rgba(87, 190, 108, 0.8);
  backdrop-filter: blur(8px);
  top: 26px;
  right: 23px;
  opacity: 0;
  transition: 1s;
}

.food__mark-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.food__mark-title {
  font-size: 34px;
  line-height: 51px;
  color: var(--black);
  font-family: var(--PSB);
}

.food__mark-star {
  display: flex;
  align-items: center;
}

.star::before {
  content: url(../images/svg/star.png);
  margin-right: 8px;
  width: 22px;
  height: 20px;
}

.rate {
  margin-left: 22px;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.02em;
  color: var(--black);
  font-family: var(--PR);
}

/* SECTION FOOD END */

/* SECTION ABOUT START */

.section__about {
  margin-top: 165px;
  display: flex;
}

.about__chef-img img {
  max-width: 471px;
  border-radius: 20px;
}

.about__chef-info {
  margin-left: 90px;
  display: flex;
  flex-direction: column;
}

.about__chef-text {
  margin-bottom: 13px;
}

.chef-info__link {
  display: block;
  font-size: 22px;
  line-height: 33px;
  color: #0645ad;
  font-family: var(--PR);
}

.chef-info__title {
  margin-bottom: 26px;
  font-size: 38px;
  line-height: 57px;
  color: var(--black);
  letter-spacing: 0.035em;
  font-family: var(--PSB);
}

.chef-info__description {
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.02em;
  color: var(--gray);
  font-family: var(--PR);
}

.about-chef__experience {
  display: flex;
}

.experience-span::before {
  content: url(../images/svg/experience.png);
  color: var(--green);
  font-size: 78px;
  border-radius: 20px;
  margin-right: 55px;
}

.chef__experience-title {
  font-size: 26px;
  line-height: 39px;
  letter-spacing: 0.035em;
  font-family: var(--PSB);
  color: var(--black);
  margin-bottom: 9px;
}

.chef__experience-description {
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.02em;
  color: var(--gray);
  font-family: var(--PR);
}

.certificate-span::before {
  content: url(../images/svg/certificate.png);
  color: var(--green);
  font-size: 78px;
  border-radius: 20px;
  margin-right: 55px;
}

.certificate {
  margin-top: 55px;
  margin-bottom: 43px;
}

.about__chef-more {
  background: #ececec;
  border-radius: 20px;
  font-size: 38px;
  padding: 12px 22px;
  align-self: center;
  color: var(--black);
}

/* SECTION ABOUT END */

/* SECTION USERS START */

.section__users {
  margin-top: 165px;
  display: flex;
}

.section__users-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section-users__img {
  margin-left: 100px;
}

.section-users__img img {
  border-radius: 20px;
  max-width: 461px;
}

.users-info__link {
  margin-bottom: 7px;
  font-size: 22px;
  line-height: 33px;
  color: #0645ad;
  font-family: var(--PR);
}

.users-info__title {
  font-size: 38px;
  line-height: 57px;
  font-family: var(--PSB);
  letter-spacing: 0.035em;
  color: var(--black);
  margin-bottom: 43px;
}

.users-info__description {
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.02em;
  color: var(--gray);
  font-family: var(--PR);
}

.users-rate {
  display: flex;
  justify-content: space-between;
}

.users-rate__about {
  display: flex;
  align-items: center;
}

.users-rate__ava {
  border-radius: 50%;
  margin-right: 22px;
}

.users-rate__title {
  font-size: 24px;
  line-height: 36px;
  color: var(--black);
  letter-spacing: 0.02em;
  font-family: var(--PM);
}

.users-rate__subtitle {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: var(--gray);
}

.users-rate__item {
  display: flex;
  align-items: center;
}

.users-rate__header {
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.02em;
  color: var(--black);
  font-family: var(--PR);
}

/* SECTION USERS END */

/* SECTION GROUP START */

.section__group {
  margin-top: 165px;
  display: flex;
}

.section__group-img {
  margin-right: 91px;
  max-width: 322px;
}

.setion__group-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.group-info__title {
  font-weight: 600;
  font-size: 38px;
  line-height: 130%;
  letter-spacing: 0.035em;
  color: var(--black);
  font-family: var(--PSB);
  margin-bottom: 29px;
}

.group-info__subtitle {
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.02em;
  color: var(--gray);
  font-family: var(--PR);
}

.group-info__join {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.group-info__description {
  font-family: var(--PSB);
  font-size: 38px;
  line-height: 57px;
  color: #222;
  letter-spacing: 0.02em;
}

.group-info__span {
  color: var(--black);
  font-family: var(--PR);
}

.group-info__subscribe {
  width: 706px;
  padding: 12px 13px 12px 49px;
  border: 1.5px solid #000000;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.group-info__text {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.02em;
  color: var(--gray);
  font-family: var(--PR);
}

.group-info__right::before {
  content: url(../images/svg/Arrow-Left.png);
  margin-left: 29px;
  position: absolute;
  bottom: 26px;
}

.group-info__btn {
  background: #ff965b;
  border-radius: 20px;
  width: 275px;
  height: 75px;
  outline: none;
  border: none;
  font-size: 24px;
  line-height: 36px;
  font-family: var(--PM);
  letter-spacing: 0.02em;
  color: #fff;
  cursor: pointer;
}

/* SECTION GROUP END */

/* MAIN END */

/* FOOTER START */

.footer {
  background: var(--green);
  margin-top: 181px;
  padding: 76px 0 73px 0;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.footer-info__link {
  margin-top: 58px;
}

.footer-info__link a {
  display: block;
  font-family: var(--PR);
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.02em;
  color: #fff;
}

.footer-title {
  font-size: 34px;
  line-height: 39px;
  font-family: var(--UM);
  color: #fff;
}

.footer-info__subtitle {
  margin-top: 33px;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.02em;
  font-family: var(--PR);
  color: #fff;
}

.footer-aboutUs__list,
.footer-support__list {
  margin-top: 25px;
}

.footer-link {
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.02em;
  font-family: var(--PR);
  color: #fff;
}

.footer-aboutUs__list li,
.footer-support__list li {
  margin-bottom: 15px;
}

.footer-aboutUs__list li:nth-of-type(5),
.footer-support__list li:nth-of-type(3) {
  margin-bottom: 0;
}

.footer-textBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footre-textBox__form {
  margin-top: 25px;
  padding: 24px 23px 16px 23px;
  background: #9fdaab;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.footer-textBox__massage {
  width: 206px;
  height: 183px;
  margin-bottom: 23px;
  padding: 5px;
  background: #ffffff;
  border-radius: 15px;
  outline: none;
  border: none;
  resize: none;
}

.footer-textBox__btn {
  background: #ffffff;
  border-radius: 15px;
  height: 42px;
  width: 211px;
  font-size: 14px;
  line-height: 16px;
  font-family: var(--UR);
  color: var(--black);
  cursor: pointer;
  border: none;
  outline: none;
}

/* FOOTER END */
